{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <form action="" method="post" class="card mt-5">
                <div class="card-body form-control">
                    {% include "index/components/_nav_tabs.html" %}
                    {% from "index/components/_formhelpers.html" import render_field %}
                </div>
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary">Generar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}